body {
    background-color: white;
    padding: 0 80px;
}

.headerLine {
    width: 100%;
    height: 70px;
}

.Logo {
    height: 50px;
    width: 50px;
    margin-left: 130px;
    margin-top: 10px;
}

.HeaderIcons {
    display: flex;
    justify-content: flex-end;
    margin-top: -45px;
    margin-right: 150px;
}

.TextSet {
    height: 30px;
    width: 30px;
}

.Search {
    margin-right: 70px;
}

.Notification {
    margin-right: 70px;
}

.Menu {
    margin-right: -20px;
}

.Picture {
    position: relative;
    display: flex;
    justify-content: center;
}

.FirstPic {
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: -10;
    filter: blur(5px);
}

.SecondPic {
    width: 90%;
    height: 300px;
    position: absolute;
    z-index: -1;
}

.Question {
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 50px;
    background-color: lightseagreen;
    margin-top: 230px;
    margin-left: 1100px;
    font-family: 'Lato', sans-serif;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 14px;

}

.LinKK {
    text-decoration: none !important;
}

.QuestionPic {
    text-align: center;
    margin-top: 15px;
    color: white;
    font-weight: 500;
    margin-right: 15px;
}

.QuestionPic2 {
    text-align: center;
    margin-top: 15px;
    color: white;
    font-weight: 500;
    margin-left: 15px;
}

.InfoPart {
    height: 800px;
    width: 350px;
    background-color: #ec4980;
    margin-top: 20px;
    margin-left: 86px;
}

.UserAvatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: -100px;
    margin-left: 75px;
}


.BottomRow {
    position: relative;
    width: 350px;
    height: 40px;
    background-color: #cf3b6d;
    margin-top: -40px;
    margin-left: 86px;
}

.BottomText {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: white;
    position: absolute;
    z-index: 5;
    top: -10px;
    left: 40px;
}

.InfoPart > .NameSur {
    text-align: center;
    margin-top: 60px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 500;
}

.InfoPart > .Loco {
    text-align: center;
    margin-top: -10px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.Loc {

    margin-bottom: -124px;
    margin-left: -155px;
    width: 18px;
    height: 18px;
}

.Score {
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    margin-top: 50px;
    margin-left: 60px;
    font-size: 20px;
}

.Amount {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    margin-left: 57px;
}

.Plus {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-top: -43px;
    margin-left: 125px;
}

.Badges {
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 19px;
    margin-left: 60px;
    margin-top: 40px;
}

.images {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.peng {
    margin-left: 60px;
    margin-top: 20px;
}

.lips {
    margin-left: 30px;
    margin-top: 20px;
}

.glasses {
    margin-top: 20px;
    margin-left: 30px;
}

.heartpic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 60px;
    margin-top: 35px;
}

.pengT {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    margin-top: -85px;
    margin-left: 64px;
    font-size: 15px;
}

.lipsT {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    margin-top: -38px;
    margin-left: 137px;
    font-size: 15px;
}

.glassesT {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    margin-top: -38px;
    margin-left: 225px;
    font-size: 15px;
}

.heartpicT {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-left: 56px;
    margin-top: 70px;
}

.BottomLink {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin-left: 55px;
}

.Posts {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    margin-top: -750px;
    margin-left: 500px;
    font-weight: 900;
}

.LikedPosts {
    margin-top: -40px;
    margin-left: 640px;
    font-weight: 700;
}

.SavedPosts {
    margin-left: 800px;
    margin-top: -40px;
    font-weight: 700;
}

.TextSets {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: gray;
    letter-spacing: 0.1px;
}

hr {
    width: 1140px;
    margin-left: 500px;
    opacity: 0.5;
}

.SecondLine {
    margin-top: -11px;
    width: 95px;
    height: 4px;
    line-height: 2px;
    background-color: deeppink;

}

.FirstTable {
    border: 1px solid grey;
    width: 400px;
    height: 400px;
    margin-top: 100px;
    margin-left: 500px;
}

.inFooter {
    background-color: lightgrey;
    width: 400px;
    height: 40px;
    margin-top: 360px;

}

.share {
    width: 30px;
    height: 30px;
    margin-top: 6px;
    margin-left: 20px;
    transform: scale(-1, 1);
}

.twoIcons {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    margin-top: -32px;
}

.shareR {
    margin-right: 25px;
}
.shareRR{
    margin-right: 20px;
}